<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interfaz</title>   
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQjDjJgSTqBaLLRZSEKV0kd7Q0qpO1gP_TuDxyfh4ScrkZAY-MK0b08VH0bGMuM89QtAc&usqp=CAU"
    type="image/x-icon">
</head>
<body>
    <main>
        <div class="container">
            <form action="modificar" method="post" class="formulario__register">
                <h2>Modificar</h2>
                <input type="text" id="Nombre" placeholder="Nombre" name="Nombre">
                <input type="text" id="Apellido" placeholder="Apellido" name="Apellido">
                <input type="text" id="Localizacion" placeholder="Ubicación" name="Localizacion">
                <input type="text" id="Correo" placeholder="Correo Electrónico" name="Correo">
                <input type="text" id="Edad" placeholder="Edad" name="Edad">
                <input type="password" id="Password" placeholder="Contraseña" name="Password">
                <button type="submit">Guardar Cambios</button>
                <!-- Mensaje de error -->
                {% if error %}
                <div class="error-message">
                    <p>{{ error }}</p>
                </div>
                {% endif %}
            </form>
        </div>
        <div class="eliminar">
            <form action="eliminar" method="post" class="formulario__register">
                <h2>Eliminar cuenta</h2>
                <input type="text" id="Correo" placeholder="Correo Electrónico" name="Correo">
                <input type="password" id="Password" placeholder="Contraseña" name="Password">
                <button type="submit">confirmar</button>
                <!-- Mensaje de error -->
                {% if error %}
                <div class="error-message">
                    <p>{{ error }}</p>
                </div>
                {% endif %}
            </form>
        </div>
    </main>
</body>
</html>